body {
  font: 16px "Helvetica Neue", Helvetica, sans-serif;

  color: #666;
  -webkit-font-smoothing: antialiased;

  background: linear-gradient(to left, #dfe0e7, #141414);
}
.header {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  font-weight: 200;
}
.header__title {
  font-size: 50px;
  color: #333;
  text-shadow: 2px 2px 20px #f1eeee;
}

.header__body {
  min-height: 32px;
}
.Card {
  font: 10.6666666667px "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 240px;
  text-align: left;
  padding: 30px;
  margin-bottom: 50px;
  color: #fff;
  border-radius: 25px;
  box-sizing: border-box;
  background: linear-gradient(to left, #283593, #1976d2);
  box-shadow: 2px 2px 20px #f1eeee;
}
.card__number {
  font-size: 30px;
  padding: 50px 0 15px;
  text-align: center;
}

.card__expiry-date {
  font-size: 14px;
  padding-bottom: 40px;
  text-align: center;
}
.card__owner {
  text-align: left;
  font-size: medium;
}
.card__vendor {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.card__cvv {
  text-align: right;
}
.Form {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  width: 500px;
  height: 615px;
  margin: auto;
  position: relative;
}
input {
  text-align: center;
}
